.footer2leftIcon {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: gray;
  cursor: pointer;

  flex-direction: row;
}

.footer2__bar {
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  margin-left: 30px;
  cursor: pointer;
  color: gray;
  flex-direction: row;
  /* padding-bottom: 40px;
padding-top: 40px;*/
  line-height: 20px;
  margin-top: 10px;
  padding-left: 70px;
}

.footer2__barh4 {
  display: flex;

  margin-right: 20px;
  margin-left: 30px;
  cursor: pointer;
  margin-top: 10px;

  flex-direction: row;

  text-transform: uppercase;
  font-size: 14px;
  color: #344c55;
  text-align: left;
  padding-left: 70px;
}

.footer2__img1 {
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 10%;
  height: 45px;
  cursor: pointer;

  flex-direction: row;
}

.footer2__img2 {
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 10%;
  height: 60px;
  cursor: pointer;
  width: 24px !important;
  height: 24px !important;
  flex-direction: row;
}

.footerIconsImg1 {
  width: 44px;
  height: 31px;
  background-position: -48px -6px;
  margin-right: 10px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}

.footerIconsImg2 {
  width: 43px;
  height: 32px;
  background-position: -94px -5px;
  margin-right: 10px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}

.footerIconsImg3 {
  width: 42px;
  height: 34px;
  background-position: -4px -4px;
  margin-right: 10px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}

.footerIconsImg4 {
  width: 42px;
  height: 33px;
  background-position: -138px -4px;
  margin-right: 10px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}

.footerIconsImg5 {
  width: 63px;
  height: 35px;
  background-position: -189px -117px;
  margin-right: 10px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}

.footerIconsImg6 {
  width: 68px;
  height: 35px;
  background-position: -120px -117px;
  margin-right: 10px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}

.footerentire {
  position: relative;
  background-color: #fff;
  text-align: center;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  padding: 25px 0;
  line-height: 20px;
  max-width: 1600px;
  min-width: 760px;
}

@media only screen and (max-width: 992px) {
  .footer2__bar {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    margin-left: 0px;
    cursor: pointer;
    color: gray;
    flex-direction: row;
    /* padding-bottom: 40px;
  padding-top: 40px;*/
    line-height: 20px;
    margin-top: 10px;
    padding-left: 70px;
  }

  .footer2__barh4 {
    display: flex;

    margin-right: 20px;
    margin-left: 30px;
    cursor: pointer;
    margin-top: 10px;

    flex-direction: row;

    text-transform: uppercase;
    font-size: 14px;
    color: #344c55;
    text-align: left;
    padding-left: 45px;
  }
}

@media screen and (max-width: 768px) {
  .footer2__barh4 {
    display: flex;

    margin-right: 20px;
    margin-left: 30px;
    cursor: pointer;
    margin-top: 10px;

    flex-direction: row;

    text-transform: uppercase;
    font-size: 12px;
    color: #344c55;
    text-align: left;
    position: relative;
    right: 55px;
  }

  .footer2__bar {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    margin-left: 0px;
    cursor: pointer;
    color: gray;
    flex-direction: row;
    /* padding-bottom: 40px;
  padding-top: 40px;*/
    line-height: 20px;
    margin-top: 10px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 576px) {
  .footerentire {
    position: relative;
    right: 190px;
  }

  .footer2__barh4 {
    display: flex;

    margin-right: 20px;
    margin-left: 30px;
    cursor: pointer;
    margin-top: 10px;
    width: 50%;
    flex-direction: row;

    text-transform: uppercase;
    font-size: 12px;
    color: #344c55;
    text-align: left;
    position: relative;
    left: 165px;
  }

  .footer2__bar {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    margin-left: 0px;
    cursor: pointer;
    color: gray;
    flex-direction: row;
    /* padding-bottom: 40px;
  padding-top: 40px;*/
    line-height: 20px;
    margin-top: 10px;
    padding-left: 20px;
    position: relative;
    left: 220px;
    width: 50%;
  }
}

@media only screen and (max-width: 414px) {
  .footer2__barh4 {
    display: flex;

    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 50%;
    flex-direction: row;

    text-transform: uppercase;
    font-size: 9px;
    color: #344c55;
    text-align: left;
    position: relative;
    left: 165px;
  }

  .footer2__bar {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    margin-left: 0px;
    cursor: pointer;
    color: gray;
    flex-direction: row;
    /* padding-bottom: 40px;
  padding-top: 40px;*/
    line-height: 20px;
    margin-top: 10px;
    padding-left: 20px;
    position: relative;
    left: 200px;
    width: 50%;
  }
}

@media only screen and (max-width: 375px) {
  .footer2__bar {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    margin-left: 0px;
    cursor: pointer;
    color: gray;
    flex-direction: row;
    /* padding-bottom: 40px;
  padding-top: 40px;*/
    line-height: 20px;
    margin-top: 10px;
    padding-left: 20px;
    position: relative;
    left: 200px;
    width: 40%;
  }
}
